# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Test files
test
coverage

# Dev config
.eslintrc*
eslint.config*
prettier.config*
.prettierrc*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
